body {
    background-color: white;
}
.menu {
    box-sizing: border-box;
    display:flex;
    text-decoration: none;
    margin-left: 60%;
}
.menu div a {
    width: 34px;
    height: 24px;
    padding: 0.5em 1em;
    text-align: center;
    text-decoration: none;
    color: rgba(0, 0, 0, 0.87);
    font-size: 13px;
    font-weight: 10;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    line-height: 24px;
}
.menu div a:hover{
    text-decoration: underline;
    color: #4285F4;
}
.menu .SignIn {
    border: 1px solid #4285F4;
    border-radius: 2px;
    background-color: #4285F4;
    padding: 1px;
    margin-left: 1.5em;
}

.menu .SignIn :hover{
    text-decoration: underline;
    color: white;
}
.scherm {
    width: 740px;
    height: 500px;
    position: absolute;
    z-index: 0;
    left: 50%;
    top: 40%;
    overflow: hidden;
    margin: -200px 0 0 -375px;
    border-radius: 10%;
}

.google {
    width: 750px;
    height: 480px;
    position: absolute;
    background-repeat: no-repeat;
    background-color: #9CDAF9;
}
/* pokeball dat omhoog komt en draait */
.pokeball {
    background-image: url(../images/pokeball_only_w94_h96.svg);
    width: 94px;
    height: 96px;
    z-index: 1;
    position: absolute;
    top: 300px;
    left: 650px;
    animation-name: pokeballFlip;
    animation-duration: 2s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: unset;
    visibility: hidden;
}
.pokeballopen {
    background-image: url(../images/pokeball_open_w282_h96.svg);
    position: absolute;
    width: 282px;
    height: 96px;
    top: 300px;
    left: 650px;
    z-index: 1;
    animation-name: pokeballOpen;
    animation-direction: alternate;
    animation-timing-function: steps(3);
    visibility: hidden;
    background-position: 0 0;
    animation-delay: 1.6s;
    animation-duration: 1s;
    animation-iteration-count: initial;
    animation-fill-mode: both;
}
/* pokeball dat draait en omhoog komt */
@keyframes pokeballFlip {
    0%{
        transform: rotate(0deg);
        top: 500px;
        visibility: visible;
    }
    100%{
        transform: rotate(360deg);
        top: 300px;
        visibility: hidden;
    }
}
/* pokeball dat open gaat en verdwijnt */
@keyframes pokeballOpen {
    0%{
        background-position: 0 0;
        opacity: 1;
        visibility: hidden;
    }
    100%{
        background-position: -282px 0;
        opacity: 0;
        visibility: visible;
    }
}

.light {
    width: 740px;
    height: 500px;
    position: absolute;
    animation: pokemonComesOut 1s ease-in-out 1;
    z-index: 1;
    animation-delay: 2.5s;
}

@keyframes pokemonComesOut{
    0%{
        background-color: #F8F8F8;
        opacity: 1;
    }
    100%{
        background-color: #F8F8F8;
        opacity: 0;
    }
}

/* sprite squartle blow water */
.squartle .sprite{
    background-image: url(../images/squartle_groep_h153_w650.svg);
    background-size: 680px 160px;
    z-index: 2;
    width: 165px;
    height: 156px;
    left: 574px;
    top: -1px;
    position: absolute;
    background-position: 0 0;
    animation-timing-function: steps(4);
    animation-iteration-count: initial;
    animation-direction: alternate;
    animation-fill-mode: both;
    animation-duration: 2s;
    animation-delay: 1s;
    animation-delay: 3s;
    visibility: visible;
    animation-name: squartleSprite;
}



@keyframes squartleSprite {
    0% {
        background-position: 0 0;
        visibility: hidden;
    }
    50%{
        
        visibility: visible;
    }
    100%{
        background-position: -650px 0;
        visibility: hidden;
    }
}

/* squarle stays and blows water */
.squartle .blows{
    background-image: url(../images/Squartle_water_h160_w165.svg);
    z-index: 1;
    width: 165px;
    height: 156px;
    left: 590px;
    position: absolute;
    background-position: 0 0;
    animation-timing-function: ease-in;
    animation-iteration-count: unset;
    animation-direction: alternate;
    animation-delay: 5s;
    animation-duration: 10s;
    animation-name: squartleComesOut;
    animation-fill-mode: both;
    visibility: hidden;
}

/* squartle comes out en verdwijnt */
@keyframes squartleComesOut {
    0%{
        visibility: hidden;
    }
    50%{
        visibility: visible;
    }
    100% {
        opacity: 0;
    }
}
/* eerste blow water */
.squartle .water .eerste {
    background-image: url(../images/water_squartle_eerste_w90_h70.svg);
    z-index: 3;
    width: 90px;
    height: 70px;
    left: 580px;
    position: absolute;
    top: 45px;
    animation-name: squartleComesOut;
    animation-timing-function: ease-in-out;
    animation-fill-mode: both;
    animation-iteration-count: unset;
    animation-direction: alternate;
    animation-delay: 5s;
    animation-duration: 10s;
    visibility: hidden;
}
/* tweede blow water */
.squartle .water .tweede{
    background-image: url(../images/water_squartle_tweede_w270_h180.svg);
    z-index: 4;
    width: 270px;
    height: 180px;
    left: 360px;
    position: absolute;
    top: 62px;
    animation-name: squartleComesOut;
    animation-timing-function: ease-in-out;
    animation-fill-mode: both;
    animation-iteration-count: unset;
    animation-direction: alternate;
    animation-delay: 6s;
    animation-duration: 8s;
    visibility: hidden;
}
/* derde blow water */
.squartle .water .derde{
    background-image: url(../images/water_squartle_derde_w445+h340.svg);
    z-index: 4;
    width: 445px;
    height: 340px;
    left: 80px;
    position: absolute;
    top: 90px;
    animation-name: squartleComesOut;
    animation-timing-function: ease-in-out;
    animation-fill-mode: both;
    animation-iteration-count: unset;
    animation-direction: alternate;
    animation-delay: 7s;
    animation-duration: 7s;
    visibility: hidden;
}
/* vierde blow water */
.squartle .water .vierde{
    background-image: url(../images/water_squartle_vierde_h370_w510.svg);
    z-index: 5;
    width: 510px;
    height: 370px;
    left: -60px;
    position: absolute;
    top: 130px;
    animation-name: squartleComesOut;
    animation-timing-function: ease-in-out;
    animation-fill-mode: both;
    animation-iteration-count: unset;
    animation-direction: alternate;
    animation-delay: 8s;
    animation-duration: 6s;
    visibility: hidden;
}

/* eerste dat water fult */
.water .eerste{
    background-image: url(../images/vullen_water_500h_750w_maal3.svg);
    z-index: 6;
    width: 2250px;
    height: 500px;
    left: -5px;
    top: -15px;
    position: absolute;
    background-position: 0 0;
    animation-name: waterFull;
    animation-timing-function: steps(3);
    animation-direction: alternate;
    animation-fill-mode: forwards;
    animation-delay: 6s;
    animation-duration: 6s;
    visibility: hidden;
}
/* tweede dat water fult */
.water .tweede {
    background-image: url(../images/vullen_water_500h_750w_maal3.svg);
    z-index: 5;
    width: 2250px;
    height: 500px;
    top: -15px;
    left: 100px;
    position: absolute;
    background-position: 0 0;
    animation-name: waterFull;
    animation-timing-function: steps(3);
    animation-direction: alternate;
    animation-delay: 6s;
    animation-duration: 6s;
    visibility: hidden;
}

@keyframes waterFull{
    0% {
        visibility: visible;
    }
    100%{
        background-position: -2250px 0;
        visibility: hidden;
    }
}

/*  water gaat weg eerste */
.water .out .eerste{
    background-image: url(../images/vullen_water_500h_750w_maal3.svg);
    z-index: 7;
    width: 2250px;
    height: 500px;
    left: -5px;
    top: -15px;
    position: absolute;
    background-position: 0 0;
    animation-name: waterFull;
    animation-timing-function: steps(3);
    animation-direction: alternate-reverse;
    animation-fill-mode: both;
    animation-delay: 10s;
    animation-duration: 15s;
    visibility: hidden;
}
/*  water gaat weg tweede */
.water .out .tweede{
    background-image: url(../images/vullen_water_500h_750w_maal3.svg);
    z-index: 6;
    width: 2250px;
    height: 500px;
    left: 100px;
    top: -15px;
    position: absolute;
    background-position: 0 0;
    animation-name: waterFull;
    animation-timing-function: steps(3);
    animation-direction: alternate-reverse;
    animation-fill-mode: both;
    animation-delay: 10s;
    animation-duration: 15s;
    visibility: hidden;
}


.pidgeottoSprite{
    background-image: url(../images/Pidgeotto_sprite.svg);
    visibility: hidden; 
    background-size: 180px 480px;
    background-position: 0 0;
    background-repeat: no-repeat;
    width: 180px;
    height: 160px;
    z-index: 8;
    top: 10px;
    position: absolute;
    animation-fill-mode: backwards;
    animation: pidgeottoWind 0.9s steps(3) 7; 
    animation-direction: normal;
    animation-delay: 12s;
} 
 
@keyframes pidgeottoWind{
    0%{
        background-position: 0 0;
        visibility: visible; 
    }
    100%{
        background-position: 0 -480px;
        visibility: hidden; 
    }
}  

/* magnemite naar onder en dan terug naar boven verschijnen  */
.magnemite {
    background-image: url(../images/Magnemite_only_w180_h100.svg);
    width: 180px;
    height: 100px;
    left: 40%;
    top: -100px;
    z-index: 8;
    position: absolute;
    animation-name: underAndTop;
    animation-timing-function: ease-in-out;
    animation-direction: alternate;
    animation-iteration-count: initial;
    animation-duration: 7s;
    animation-delay: 20s;
}

@keyframes underAndTop{
    0%{
        transform: translateY(-100px);
    }
    50% {
        transform: translateY(300px);
    }
    75% {
        transform: translateY(320px);
    }
    100%{
        transform: translateY(-100px);
    }

}
/* eerste G letter */
.google .lettersG{
    background-image: url(../images/Google_Grote_G_w100_h135.svg);
    z-index: 7;
    width: 100px;
    top: 240px;
    left: 200px;
    height: 135px;
    position: absolute;
    background-position: 0 0;
    animation-direction: alternate;
    animation-iteration-count: unset;
    animation-timing-function: ease-in-out;
    animation-name: letterG;
    animation-duration: 2.2s;
    animation-delay: 25s;
    visibility: hidden;
}

@keyframes letterG {
    0%{
        transform: translateX(-250px);
        visibility: visible;
    }
    50%{
        transform: translateX(0px);
        transform: rotate(90deg);
        opacity: 0.2;
    }
    100%{
        transform: translateX(0px);
        opacity: 0;
    }
}


.google .lettersO{
    background-image: url(../images/Google_O_w85_h95.svg);
    z-index: 7;
    width: 85px;
    top: 248px;
    left: 262px;
    height: 95px;
    position: absolute;
    background-position: 0 0;
    animation-direction: alternate;
    animation-iteration-count: unset;
    animation-timing-function: ease-in-out;
    animation-name: letterO;
    animation-duration: 2.2s;
    animation-delay: 25s;
    visibility: hidden;
}

@keyframes letterO {
    0%{
        visibility: visible;
        transform: translateX(-250px);
    }
    50%{
        transform: translateX(0px);
        opacity: 0.2;
    }
    100%{
        transform: translateX(0px);
        opacity: 0;
    }
}
/* kleine letter 0 */

.google .letters0{
    background-image: url(../images/Google_O_w85_h95.svg);
    z-index: 7;
    width: 85px;
    top: 248px;
    left: 333px;
    height: 95px;
    position: absolute;
    background-position: 0 0;
    animation-direction: alternate;
    animation-iteration-count: unset;
    animation-timing-function: ease-in-out;
    animation-name: letter0;
    animation-duration: 2.2s;
    animation-delay: 25s;
    visibility: hidden;
}

@keyframes letter0 {
    0%{
        visibility: visible;
        transform: translateX(800px);
    }
    50%{
        transform: translateX(300px);
        transform: rotate(50deg);
        opacity: 0.2;
    }
    100%{
        transform: translateX(0px);
        opacity: 0;
    }
}

/* kleine letter g */

.google .lettersg{
    background-image: url(../images/Google_kleine_g_w85_155.svg);
    z-index: 7;
    width: 85px;
    top: 237px;
    left: 400px;
    height: 155px;
    position: absolute;
    background-position: 0 0;
    animation-direction: alternate;
    animation-iteration-count: unset;
    animation-timing-function: ease-in-out;
    animation-name: letterg;
    animation-duration: 2.2s;
    animation-delay: 25s;
    visibility: hidden;
}

@keyframes letterg {
    0%{
        visibility: visible;
        transform: translateX(800px);
    }
    50%{
        transform: translateX(280px); 
        transform: rotate(-20deg);
        opacity: 0.2;
    }
    100%{
        transform: translateX(0px);
        opacity: 0;
    }
}

/* letter l */

.google .lettersl{
    background-image: url(../images/Google_l_w45_h155.svg);
    z-index: 7;
    width: 45px;
    top: 200px;
    left: 460px;
    height: 155px;
    position: absolute;
    background-position: 0 0;
    animation-direction: alternate;
    animation-iteration-count: unset;
    animation-timing-function: ease-in-out;
    animation-name: letterl;
    animation-duration: 2.2s;
    animation-delay: 25s;
    visibility: hidden;
}

@keyframes letterl {
    0%{
        visibility: visible;
        transform: translateX(800px);
    }
    50%{
        transform: translateX(350px);
        transform: rotate(5deg);
        opacity: 0.2;
    }
    100%{
        transform: translateX(0px);
        opacity: 0;
    }
}

.google .letterse{
    background-image: url(../images/Google_e_h70_width75.svg);
    background-size: cover;
    z-index: 7;
    width: 70px;
    top: 275px;
    left: 500px;
    height: 75px;
    position: absolute;
    background-position: 0 0;
    animation-direction: alternate;
    animation-iteration-count: unset;
    animation-timing-function: ease-in-out;
    animation-name: lettere;
    animation-duration: 2.2s;
    animation-delay: 25s;
    visibility: hidden;
}
    
@keyframes lettere {
    0%{
        visibility: visible;
        transform: translateX(800px);
    }
    50%{
        transform: translateX(400px);
        transform: rotate(-10deg);
        opacity: 0.2;
    }
    100%{
        transform: translateX(0px);
        opacity: 0;
    }
}

/* @keyframes electicitie {
    0%{
        visibility: visible;
        transform: translateX(800px);
    }
    16.65% {
        visibility: visible;
        -webkit-transform: translateX(8px);
        transform: translateX(800px);
    }

    33.3% {
        -webkit-transform: translateX(-6px);
        transform: translateX(-6px);
    }

    49.95% {
        -webkit-transform: translateX(4px);
        transform: translateX(4px);
        transform: translateX(400px);
        transform: rotate(-80deg);
    }

    66.6% {
        -webkit-transform: translateX(-2px);
        transform: translateX(-2px);
    }

    83.25% {
        -webkit-transform: translateX(1px);
        transform: translateX(1px);
    }

    100% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
        transform: translateX(0px);
    }
} */


/* google logo */

.logoGoogle{
    background-image: url(../images/Google_volledige_letters_w365_h195.svg);
    width:365px;
    height: 195px;
    z-index: 9;
    animation-name: showGoogle;
    animation-delay: 27.2s;
    position: absolute;
    top: 200px;
    left: 200px;
    animation-timing-function: ease-in;
    animation-iteration-count: infinite;
    animation-duration: 3s;
    visibility: hidden;
}

@keyframes showGoogle{
    0%{
        visibility: hidden;
    }
    100%{
        visibility: visible;
    }
}

/* pidgeotto flying looping background*/

.pidgeottoEerste{
    background: url(../images/Pidgeotto_flying_h85_w90.svg);
    background-size: 90px 170px;
    height: 85px;
    width: 90px;
    position: absolute;
    left: 10px;
    top: 10px;
    margin-left: -80%;
    background-repeat: no-repeat;
    background-position: 0 0;
    animation: pidgeottoFlying 1s steps(2) infinite, flying 10s steps(80) infinite;
    animation-delay: 28.5s;
    animation-fill-mode: forwards;
    z-index: 10;
}

@keyframes pidgeottoFlying {
    0%{
        background-position: 0 0;
    }
    100%{
        background-position: 0 -170px;
    }
}

@keyframes flying {
    100%{
        margin-left: 800px;
    }
}

.pidgeottoTweede{
    background: url(../images/Pidgeotto_flying_h85_w90.svg);
    background-size: 90px 170px;
    height: 85px;
    width: 90px;
    position: absolute;
    left: -100px;
    top: -10px;
    background-repeat: no-repeat;
    background-position: 0 0;
    animation: pidgeottoFlying 1s steps(2) infinite, flying 10s steps(80) infinite;
    margin-left: -80%;
    animation-delay: 29s;
    animation-fill-mode: forwards;
    z-index: 10;
}

.pidgeottoDerde{
    background: url(../images/Pidgeotto_flying_h85_w90.svg);
    background-size: 90px 170px;
    height: 85px;
    width: 90px;
    position: absolute;
    left: -100px;
    top: 15px;
    background-repeat: no-repeat;
    background-position: 0 0;
    animation: pidgeottoFlying 1s steps(2) infinite, flying 10.8s steps(80) infinite;
    margin-left: -80%;
    animation-delay: 29.5s;
    animation-fill-mode: forwards;
    z-index: 10;
}

    
.pickachu .sprint {
    background-image: url(../images/Pickachu_sprite_lopen_w580_h120.svg);
    background-repeat: no-repeat;
    background-position: 0 0;
    background-size: 580px 120px;
    width: 145px;
    height: 120px;
    position: absolute;
    top: 250px;
    z-index: 10;
    margin-left: -20%;
    animation: pickachuPosition 0.5s steps(4) 7, slide 2s steps(80) 1;
    animation-delay: 29.5s;
    visibility: hidden;
}

.pickachu .jump {
    background-image: url(../images/Pickachu_sprite_lopen_w580_h120.svg);
    background-repeat: no-repeat;
    background-position: 0 0;
    background-size: 580px 120px;
    width: 145px;
    height: 120px;
    position: absolute;
    top: 250px;
    z-index: 10;
    margin-left: 10%;
    animation: pickachuPosition 0.5s steps(4) 1, jump 1s steps(4) 1; 
    animation-delay: 31.5s;
    visibility: hidden;
}

@keyframes pickachuPosition {
    0%{
        background-position: 0 0;
        visibility: visible;
    }
    100%{
        background-position: -580px 0;
        visibility: hidden;
    }
}
@keyframes slide {
    0%{
        visibility: visible;
    }
    100%{
        margin-left: 90px;
        visibility: hidden;
    }
}

@keyframes jump {
    0% {
        visibility: visible;
    }
    100%{
        transform: translateY(-100px);
        margin-left: 200px;
        visibility: hidden;
    }
}

.pickachu .wave {
    background-image: url(../images/Pickachu_wave_w640_h75.svg);
    background-repeat: no-repeat;
    background-position: 0 0;
    background-size: 749px 85px;
    height: 85px;
    width: 107px;
    position: absolute;
    top: 175px;
    left: 277px;
    z-index:10;
    animation-direction: alternate-reverse;
    animation: position 4s steps(7) infinite;
    animation-delay: 32.5s;
    visibility: hidden;
}

@keyframes position {
    0%{
        background-position: 0 0;
        visibility: visible;
    }
    100%{
        background-position: -749px 0;
    }
}

.charmander .walk {
    background-image: url(../images/Charmander_walk_w320_h100.svg);
    background-repeat: no-repeat;
    background-position: 0 0;
    background-size: 320px 100px;
    height: 100px;
    width: 80px;
    position: absolute;
    top: 250px;
    left: 700px;
    z-index:10;
    margin-left: 10%;
    visibility: hidden;
    animation-direction: alternate-reverse;
    animation: positionW 1s steps(4) 5, walk 5s steps(30) 5;
    animation-delay: 36s;
}

@keyframes positionW {
    0%{
        background-position: 0 0;
        visibility: visible;
    }
    100%{
        background-position: -320px 0;
        visibility: hidden;
    }
}

@keyframes walk {
    100%{
        margin-left: -148px;
    }
}

.charmander .wave {
    background-image: url(../images/Charmander_wave_w320_h100.svg);
    background-repeat: no-repeat;
    background-position: 0 0;
    background-size: 320px 100px;
    height: 100px;
    width: 80px;
    position: absolute;
    top: 250px;
    left: 490px;
    z-index:10;
    margin-left: 10%;
    animation-direction: alternate-reverse;
    animation: positionW 2.5s steps(4) infinite;
    animation-delay: 41s;
    visibility: hidden;
}


.searchBar {
    box-sizing: border-box;
    display: flex;
    width: 400px;
    height: 50px;
    margin-top: 32em;
    margin-left: 28%;
}
.searchBar div input {
    padding-right: 1em;
    padding: 1em 20em;
    /* background-color: #E4E3E4; */
    font-size: 10px;
    text-align: center;
    border: 1px solid #E4E3E4;
    box-shadow: 1px 3px 6px 3px #E4E3E4;
}
.buttons {  
    display: flex;
    flex-direction: row;
    padding-left: 5em;
    margin-left: 35%;
}
.buttons .Search {
    background-color: #F4F5F5;
    margin-right: 3em;
    border: 1px solid #F4F5F5;
    color: #838386;
    font-size: 12px;
}
.buttons .gok {
    background-color: #F4F5F5;
    border: 1px solid #F4F5F5;
    color: #838386;
    font-size: 12px;
}

.talen {
    margin-left: 36%; 
    padding-top: 1em;
    margin-bottom: 20%;
}

.talen a {
    color: #4285F4;
    padding: 0 0.5em;
}